.blinking {
  animation: blinkingText 0.5s infinite;
}
@keyframes blinkingText {
  0% {
    color: #000;
  }
  49% {
    color: #000;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}

.main {
  background: rgba(0, 0, 0, 0.1);
  background-image: url('./assets/dragon_slayer_wall2.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;
}

.bold {
  font-weight: bold;
}
.uppercase {
  text-transform: uppercase;
}
.title {
  font-size: 1.5rem;
  font-family: Galiver-Sans, Arial, Helvetica, sans-serif !important;
  font-weight: bold;
}

.left-text {
  text-align: left;
}
.right-text {
  text-align: right;
}

.no-margin {
  margin: 0px !important;
}

.pad-1 {
  padding: 1em;
}

.flex-center {
  justify-content: center;
}
.modal-overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  overflow: auto;
}

.text-center {
  text-align: center;
}

.flex {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}